<div>
    <app-search-box (onGlobalChange)="getGlobalChanges($event)" class="pt-6"></app-search-box>
</div>

<div class="mat-elevation-z8 px-2 max-h-screen">
    <!--cdk-virtual-scroll-viewport tvsItemSize class="wrapper mat-elevation-z2" style="height: 100%; width: 100%"-->
        <table mat-table [dataSource]="tlcSource"
               class="w-full text-black bg-slate-400 border-double border-2 border-spacing-1 text-center"
               style="margin-top: 0.75%" matSort aria-label="Elements" (matSortChange)="sortData($event)">

            <ng-container matColumnDef="nomCommercant">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="nomCommercant" 
                    class="text-black border-solid border-2 font-serif bg-slate-400 ">
                    Nom commerçant
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-black h-6 text-start bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.app.contrat.tpe.commerce.nom}}
                </td>
                
            </ng-container>

            <ng-container matColumnDef="idCommercant" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header="idCommercant" 
                    class="indent-2 text-black border-solid border-2 bg-slate-400 ">
                    Id commerçant
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.app.contrat.tpe.commerce.identifiant}}</td>
            </ng-container>

            <ng-container matColumnDef="mcc">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="mcc" 
                    class="text-black indent-2 border-solid border-2 font-serif text-center bg-slate-400">
                    MCC
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.app.contrat.tpe.commerce.mcc.code}}</td>
            </ng-container>

            <ng-container matColumnDef="noSerieTPE">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="noSerieTPE" 
                    class="text-black indent-2 border-solid border-2 bg-slate-400 text-center">No série TPE
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                    {{row.app.contrat.tpe.no_serie}}
                </td>
            </ng-container>

            <ng-container matColumnDef="numRang">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="numRang"
                    class="text-black indent-2 border-solid border-2 font-serif text-center bg-slate-400 text-center">
                    No rang
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.app.contrat.tpe.no_site}}</td>
            </ng-container>

            <ng-container matColumnDef="application">
                <th mat-header-cell *matHeaderCellDef mat-sort-header 
                    class="text-black indent-2 border-solid border-2 bg-slate-400">Application
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.app.contrat.code}}</td>
            </ng-container>

            <ng-container matColumnDef="identifiantMonetique">
                <th mat-header-cell *matHeaderCellDef mat-sort-header 
                    class="text-black indent-2 border-solid border-2 font-serif text-center bg-slate-400">
                    Id monétique
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.app.contrat.no_contrat}}</td>
            </ng-container>

            <ng-container matColumnDef="idsa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header 
                    class="text-black indent-2 border-solid border-2 font-serif text-center bg-slate-400 text-center">
                    IDSA
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.app.idsa}}</td>
            </ng-container>

            <ng-container matColumnDef="statutTLC">
                <th mat-header-cell *matHeaderCellDef mat-sort-header 
                    class="text-black indent-2 border-solid border-2 bg-slate-400">Statut TLC
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.status}}</td>
            </ng-container>

            <ng-container matColumnDef="horaireTLCPlanifie">
                <th mat-header-cell *matHeaderCellDef mat-sort-header 
                    class="text-black border-solid border-2 font-serif text-center bg-slate-400 ">
                    Horaire TLC planifié
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.app.heure_tlc}}</td>
            </ng-container>

            <ng-container matColumnDef="horodateTraitement">
                <th mat-header-cell *matHeaderCellDef mat-sort-header 
                    class="text-black indent-2 border-solid border-2 bg-slate-400">Horaire TLC réel
                </th>
                <td mat-cell *matCellDef="let row"
                    class="text-start indent-3 text-black h-6 bg-slate-200 hover:bg-gray-50 dark:hover:bg-gray-600">{{row.processing_date | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
            </ng-container>

            <!--ng-container matColumnDef="montantCompenseTransaction">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="" 
                    class="text-black border-solid border-2 font-serif text-center bg-slate-400">
                    Montant compensé (XPF)
                </th>
                <td mat-cell *matCellDef="let row" class="text-black bg-slate-200">{{row.total_reconcilie | currency: 'XPF'}}</td>
            </ng-container>
    
            <ng-container matColumnDef="nbTransactions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-black text-center border-solid border-2 bg-slate-400">Transactions (nb)</th>
                <td mat-cell *matCellDef="let row" class="text-black bg-slate-200 text-center">{{row.nbr_credit + row.nbr_debit}}</td>
            </ng-container-->

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                class="text-black border-solid border-2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="text-black"></tr>
            <!--tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr-->
        </table>

        <mat-paginator #paginator class="bg-slate-400 text-black border-double border-2"
                       [length]="ResultsLength"
                       [pageIndex]="pageIndex"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       aria-label="Select page">
        </mat-paginator>
    <!--/cdk-virtual-scroll-viewport-->
</div>
