<!--mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #drawer mode="side" class="example-sidenav">
    
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <img class="logo-csb mat-elevation-z8" src="../assets/images/logo_csb.jpg" alt="">
        <button mat-button (click)="drawer.toggle()"></button>
        <span class="app-title mat-elevation-z8"
              style="font-family: Libre_Franklin; letter-spacing: 2px; font-size: 40px">
            SUPERVISION DES TELECOLLECTES
      </span>
      </mat-toolbar>
      <div class="app-content">
        
        <app-tableau-component></app-tableau-component>
      </div>
    </mat-sidenav-content>
    
  </mat-sidenav>
</mat-sidenav-container-->

<!--app-navigation></app-navigation-->
<app-lcbft></app-lcbft>